In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('googleplaystore.csv')

### Membuat Data Frame

In [3]:
pd.DataFrame(data)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

### 1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [4]:
data['Reviews'] = pd.to_numeric(data['Reviews'], errors='coerce', downcast='integer')
data.describe()

            Rating       Reviews
count  9367.000000  1.084000e+04
mean      4.193338  4.441529e+05
std       0.537431  2.927761e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.477550e+04
max      19.000000  7.815831e+07

###

### 2.Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [5]:
data.select_dtypes(include=["int64","float64"]).head(10)

   Rating   Reviews
0     4.1     159.0
1     3.9     967.0
2     4.7   87510.0
3     4.5  215644.0
4     4.3     967.0
5     4.4     167.0
6     3.8     178.0
7     4.1   36815.0
8     4.4   13791.0
9     4.7     121.0

### 3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [6]:
info = {}
info['Jumlah record'] = len(data)
info['Jumlah Atrribute'] = data.shape[1]
info['Nama Atributte'] = data.columns
info['Jumlah Atrribute bertipe angka'] = data.select_dtypes(include=['int', 'float']).shape[1]
pd.DataFrame.from_dict(info)

,Jumlah record,Jumlah Atrribute,Nama Atributte,Jumlah Atrribute bertipe angka
0,10841,13,App,2
1,10841,13,Category,2
2,10841,13,Rating,2
3,10841,13,Reviews,2
4,10841,13,Size,2
5,10841,13,Installs,2
6,10841,13,Type,2
7,10841,13,Price,2
8,10841,13,Content Rating,2
9,10841,13,Genres,2
10,10841,13,Last Updated,2
11,10841,13,Current Ver,2
12,10841,13,Android Ver,2

### 4. Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

#### Dengan loc

In [7]:
data.loc[122:,'Reviews':]

,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
122,26834.0,57M,"1,000,000+",Free,0,Everyone,Beauty,"July 24, 2018",18.5,5.0 and up
123,119.0,3.7M,"50,000+",Free,0,Everyone,Beauty,"July 23, 2018",1.3,4.1 and up
124,2277.0,22M,"500,000+",Free,0,Everyone,Beauty,"July 12, 2018",1.1.0,4.0.3 and up
125,2280.0,24M,"500,000+",Free,0,Everyone,Beauty,"May 14, 2018",1.1.0,4.0 and up
126,654.0,7.4M,"100,000+",Free,0,Teen,Beauty,"July 17, 2018",1.15,4.1 and up
...,...,...,...,...,...,...,...,...,...,...
10836,38.0,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,4.0,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,3.0,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,114.0,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,398307.0,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

#### Dengan iloc

In [8]:
data.iloc[122:,4:]

,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
122,57M,"1,000,000+",Free,0,Everyone,Beauty,"July 24, 2018",18.5,5.0 and up
123,3.7M,"50,000+",Free,0,Everyone,Beauty,"July 23, 2018",1.3,4.1 and up
124,22M,"500,000+",Free,0,Everyone,Beauty,"July 12, 2018",1.1.0,4.0.3 and up
125,24M,"500,000+",Free,0,Everyone,Beauty,"May 14, 2018",1.1.0,4.0 and up
126,7.4M,"100,000+",Free,0,Teen,Beauty,"July 17, 2018",1.15,4.1 and up
...,...,...,...,...,...,...,...,...,...
10836,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

### 5. Tampilkan jumlah label dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama).

In [9]:
objek = data.select_dtypes(include='object')
jml_kol_objk = objek.nunique()
pd.DataFrame({'Jumlah Kolom Objek ': jml_kol_objk})

                Jumlah Kolom Objek
App                            9660
Category                         34
Size                            462
Installs                         22
Type                              3
Price                            93
Content Rating                    6
Genres                          120
Last Updated                   1378
Current Ver                    2832
Android Ver                      33